{% load staticfiles %}

<html>
    <link href= '{% static  "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href= '{% static  "css/sticky-footer.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    {% block styles %}
    {% endblock %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> Belaz Test </a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin">Administration</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    </div>

    <footer class="footer">
          <div class="container col-md-offset-2">
                <p class="text-muted"> <a href = "https://bitbucket.org/fedor_a_kravchenko/belaz-test">Made by Fedor A. Kravchenko</a></p>
          </div>
    </footer>

    <script src= '{% static "javascript/jquery.min.js" %}'></script>
    <script src= '{% static "bootstrap/javascript/bootstrap.min.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    {% block scripts %} {% endblock %}
</html>