{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default" style="background-color: white; border: none">
    <div class="col-md-8 col-md-offset-2">
        <div class='navbar-form navbar-left'>
            <select id="select" class="selectpicker">
                {% for model in models %}
                    <option value= {{ model.value }}> {{ model.displayed_value }}</option>
                {% endfor %}
            </select>
        </div>
        <div id= 'submit-filter' class='navbar-form navbar-left'>
            <button class="btn btn-info">Применить</button>
        </div>
    </div>
</nav>
<div class="row">
    <div id="table-container" class="col-md-8 col-md-offset-2">

    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src= '{% static "javascript/index.js" %}'></script>
{% endblock %}