<table class="table">
    <thead>
        {% for form in formset.forms %}
            {% if forloop.first %}
                {% for field in form %}
                    {% if field.label != 'Id' %}
                        <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </thead>

    <tbody>
        <input type="hidden" id='csrf' name="csrfmiddlewaretoken" value= {{ csrf_token }}>
        {% for form in formset.forms %}
           <tr>
                {% for field in form %}
                    {% if field.label != 'Id' %}
                        <td>{{ field.value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>